<header>
  <div>
    <h3 class="-cl-title">
      <span>
        Contact
        <span class="-cl-label-no app-cl-number">{{ number() | number }}</span>
      </span>
      <span class="-cl-data">{{ contact().name }}</span>
    </h3>
    <span class="-cmp-tels-summary app-cl-number">({{ contact().tels.length | number }})</span>
  </div>
</header>

<ul class="-cmp-list">
  @for (tel of contact().tels; track $index) {
    <li>
      <b>
        Tel
        <span class="-cl-label-no app-cl-number">{{ $index + 1 | number }}</span>
      </b>
      <span class="-cl-data app-cl-code">{{ tel }}</span>
    </li>
  }
</ul>
