@use '../../scss/common';
@use '../../scss/dymanic-component';
@use '../../scss/dynamic-list';

:host {
  @layer {
    & {
      --prop-header-height: 56px;
      --prop-column-gap: var(--cmp-column-gap);

      --prop-stick-top: var(--app-stick-top, 0px);
      --prop-stick-z-index: calc(var(--app-stick-z-index, 9999) - 1);
    }
  }

  @include common.layout-block();
}

header {
  @include common.layout-block();

  position: sticky;
  top: var(--prop-stick-top);
  z-index: var(--prop-stick-z-index);

  height: var(--prop-header-height);

  display: flex;
  flex-direction: row;
  align-items: baseline;

  & > * {
    @include common.layout-block();

    flex: 1 0 auto;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: var(--prop-column-gap);
  }

  & > .-cl-float-right {
    flex: 0 0 auto;
    width: 0px;

    align-self: center;

    align-items: baseline;
    justify-content: end;
  }

  .-cmp-contacts-summary {
    display: inline-block;
    width: 7ch;

    font-weight: bold;
  }
}

ul.-cmp-list {
  --app-stick-top: calc(var(--prop-stick-top) + var(--prop-header-height));
  --app-stick-z-index: var(--prop-stick-z-index);
}
