@use '../scss/common';

:host {
  @layer {
    & {
      --prop-max-width: 640px;
      --prop-gap: 8px;
      --prop-logo-height: 64px;
    }
  }

  @include common.layout-block();

  padding-bottom: var(--prop-gap);
}

.-cmp-main-content {
  @include common.layout-block();

  width: min(var(--prop-max-width), 100%);

  margin-left: auto;
  margin-right: auto;
}

header {
  @include common.layout-block();

  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: var(--prop-gap);

  padding-top: var(--prop-gap);

  h1 {
    margin: 0px;
  }

  .angular-logo {
    max-height: var(--prop-logo-height);
  }
}

.-cmp-title {
  @include common.layout-block();

  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: var(--prop-gap);
}
