// src/app/assignment/pages/assignment-page/assignment-page.scss
@use '../../scss/common';

:host {
  display: block;
  padding: 20px;
}

// ใช้สไตล์หลักของ Container จาก common
main {
  @extend .app-cmp-main-container;
}

.app-ctl-global {
  @extend .app-ctl-global;
}
