:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  --app-monospace-font: ui-monospace, monospace;
}

:root,
body {
  padding: 20px;
  margin: 0px;
}

.app-cl-primary {
  --app-color: blue;
}
.app-cl-warn {
  --app-color: red;
}

.app-cl-column-container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

input[type='number'],
.app-cl-number {
  font-family: var(--app-monospace-font);
  text-align: right;
}

.app-cl-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1ch;
  font-weight: bold;
  color: var(--app-color, inherit);
  background: rgb(255, 255, 255);
  border: 1px solid currentColor;
  border-radius: 4px;
  cursor: pointer;
  & > * {
    pointer-events: none;
  }
  &.app-cl-icon {
    padding: 0.2em;
    border: none;
  }
  &:disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

.app-ctl-global {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.app-cmp-main-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
