.app-cmp-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;

  & > label {
    flex: 1 0 auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    & > b {
      display: inherit;
      flex-direction: inherit;
      align-items: inherit;
      margin-right: 1ch;
      width: 10ch;

      & > .app-title-number {
        margin-left: auto;
        font-family: var(--app-monospace-font);
      }
    }

    & > :is(input, output) {
      flex: 1 1 auto;
      box-sizing: border-box;
      height: 36px;
      padding: 4px 8px;
      margin-right: 8px;
    }

    & > output {
      font-weight: bold;
      text-decoration: underline double;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      border: none;
    }
  }
}
